
.abbott-smith.tei.xml.marks

in.xml

out.xml

manualgreeklexic00abborich.djvu

.*.swp
.*.un~

module-making/abbott-smith.tei-simple.xml

module-making/modules/lexdict/zld/abbottsmithstrongs/dict.zdx

module-making/abbott-smith.tei-strongs.xml

module-making/abbott-smith.tei-current.xml

module-making/abbott-smith.tei-current.zip

module-making/abbott-smith.tei-greek.xml

module-making/AbbottSmithStrongs-2016-02-10.zip

module-making/AbbottSmithStrongs-10-02-2016.zip

module-making/AbbottSmithStrongs-10-02-2016.zip

module-making/AbbottSmithStrongs-10-02-2016.zip

module-making/AbbottSmithStrongs-2016-02-10/abbottsmithstrongs.conf

module-making/AbbottSmithStrongs-2016-02-10/abbottsmithstrongs.xml

module-making/abbottsmithstrongs-2017-02-03.zip

module-making/AbbottSmithStrongs-10-02-2016.zip

module-making/abbottsmithstrongs-current.zip

module-making/AbbottSmithStrongs-10-02-2016.zip

module-making/mods.d/abbottsmithstrongs.conf

module-making/modules/lexdict/zld/abbottsmithstrongs/dict.dat

module-making/modules/lexdict/zld/abbottsmithstrongs/dict.idx

module-making/modules/lexdict/zld/abbottsmithstrongs/dict.zdt

module-making/sword.zip

module-making/modules/lexdict/zld/abbottsmithstrongs/dict.dat

module-making/AbbottSmithStrongs-2017-02-10/abbottsmithstrongs.xml

module-making/AbbottSmithStrongs-2017-02-10/abbottsmithstrongs.conf

module-making/generate-module.sh

module-making/teiP5osis.2.5.0.xsd
