h1 
{
  display: block;
  text-align:center;
  font-style: bold;
  font-size: 2em;
}

h2 
{
  display: block;
  text-align:center;
  font-size: 1.5em;
  font-weight: normal;
}

h3 
{
  display: block;
  text-align:center;
  font-size: 1em;
}

h4 
{
  display: block;
  text-align:center;
  font-size: 1em;
  font-style: italic;
}

p
{
  font-family: serif, "Times New Roman", "Gentium";
}

.entry {
  font-family: serif, "Times New Roman", "Gentium";
  padding-left: 1em;
  position: relative;
  line-height: 1.3;
}

sup.count
{
  float: right;
}

span.orth
{
  font-family:"SBL Greek", "Gentium", serif;
  font-size: 1.2em;
  font-weight: bold;
}

span.greek
{
  font-family:"SBL Greek", "Gentium", serif;
  font-size: 1.2em;
  color: #c33;
}
span.hebrew
{
  font-family:"SBL Hebrew", "Ezra SIL", serif;
  margin-left: .3em;
  margin-right: .3em;
  font-size: 1.5em;
  color: purple;
}
span.aramaic
{
  font-family:"SBL Hebrew", "Ezra SIL", serif;
  margin-left: .3em;
  margin-right: .3em;
  font-size: 1.5em;
  color: brown;
}
span.latin
{
  font-family: "Times New Roman";
  font-size: 1.1em;
  font-style:italic;
}
span.foreign
{
  font-style:italic;
}

a.pagenum {
   font-family: sans-serif;
   vertical-align:bottom;
   font-style: normal;
   font-weight: bold;
   text-decoration: none;
   color: red;
   font-size: 80%;
}

a.pagenum-top
{
   font-family: sans-serif;
   vertical-align:bottom;
   font-style: normal;
   font-weight: bold;
   text-decoration: none;
   display: block;

   border-top: 1px solid #000;
   margin-top: 10px;
   text-align: right;
   font-size: 12px;
}

a.pagenum-bottom
{
   font-family: sans-serif;
   vertical-align:bottom;
   font-style: normal;
   font-weight: bold;
   text-decoration: none;
   display: block;

   border-bottom: 1px solid #000;
   margin-bottom: 10px;
   text-align: center;
   font-size: 12px;
}

span.pos
{
   color: green;
}

.sense {
	border-left: 1px solid #ccc;
	padding-left: 1em;
	margin-bottom: 1em;
}

.sense .sense {
	border-left: none;
	margin-bottom: 0;
}

.sense .sense .sense {
}

.re {
	margin-top: 1em;
}

.re .sense {
	border-left: none;
	padding-left: 0;
	margin: 0;
	display: inline;
}

.gloss {
	color: #08f;
}

